name: Update My IPTV
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Get Channels
        run: |
          echo "#EXTM3U" > personal_list.m3u
          curl -L https://iptv-org.github.io/iptv/countries/ru.m3u | grep -v "#EXTM3U" >> personal_list.m3u
          curl -L https://iptv-org.github.io/iptv/index.m3u | grep -i -E "TV1000|Minimax|Cartoon|Disney|Nickelodeon" -A 1 >> personal_list.m3u
      - name: Save
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add personal_list.m3u
          git commit -m "update" || exit 0
          git push
