name: Update My IPTV
on:
  schedule:
    - cron: '0 */2 * * *' # Обновление каждые 2 часа
  workflow_dispatch: # Позволяет запустить вручную кнопкой

jobs:
  update_list:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Generator
        run: python generator.py

      - name: Save Playlist to Repo
        run: |
          git config --global user.name "NetErrror_Bot"
          git config --global user.email "bot@neterror.sys"
          git add playlist.m3u
          git commit -m "Playlist Updated with Premium Channels" || exit 0
          git push
